//Fonts
$jost: 'Jost', Helvetica, Arial, sans-serif;

//Viewport Min & Max
$min-width: 300;
$max-width: 1600;

//Defining colours
$white-smoke: #F7F7F7;
$fire-brick: #B8241C;
$golden-rod: #E58C12;