//Fonts
$h-font: 'Engcomica', Georgia, 'Times New Roman', serif;
$p-font: 'Jost', Helvetica, Arial, sans-serif;

//Font Sizes
$min-font: 14;
$max-font: 24;

//Viewport Min & Max
$min-width: 300;
$max-width: 1600;

//Background colours
$bg-color: #F7F7F7;
$red-bg: #B8241C;
$orange-bg: #F4B419;